.orderR{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.orderR img{
  width: 200px;
}
.orderR h5{
  margin-top: 50px;
}
.tickImg{
  text-align: center;
}
.tickImg h2{
  font-weight: 700;
}
.w-num{
  background: rgb(238, 238, 238);
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #25b09b;
  margin-left: 8px;
  transition: all 3s;
}

.w-num {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: white;
  background-color: #088178;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.w-num:hover{
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.button:focus {
  outline: none; 
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5); 
}
@media (max-width: 529px) {
  .orderR h5{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .w-num{
    width: fit-content;
    margin-top: 10px;
  }
}