#page-header {
  width: auto;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
.shop-header{
  background-image: url('../Assets/img/banner/b3.jpg');
}
#page-header h2,
#page-header p {
  color: #fff;
}
#product1 {
  text-align: center;
}
.pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
.pro {
  width: 22%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  /* border-radius: 25px; */
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
.pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
.pro img {
  width: 100%;
  /* border-radius: 20px; */
}
.pro .des {
  text-align: start;
  padding: 10px 0;
}
.pro .des .span {
  color: #69699b;
  font-size: 15px;
}
.pro .des h5 {
  padding: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
.pro .des i {
  font-size: 12px;
  color: rgba(243, 181, 25);
}
.pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: rgb(36, 133, 104);
}

.cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  font-weight: 500;
  border: 1px solid #cce7d0;
  position: absolute;
  /* bottom: 20px; */
  /* right: 10px; */
}
.section-p1 {
  padding: 40px 40px;
}

.shop {
  display: flex;
}
.shop_des {
  padding: 50px;
}
/* //////////////////////////////////////////////////////// */
/* Singleproducts */

.details_container {
  position: fixed;
  z-index: 1;
  background: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.closeProduct {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  position: absolute;
  left: 80%;
  margin-left: auto;
  background: #088178;
  padding: 0.8rem 1.3rem;
  border: none;
}
#prodetails {
  display: flex;
  /* margin-top: 20px; */
}

#prodetails .single-pro-image {
  width: 30%;
  margin-right: 50px;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
.single-pro-details {
  width: 50%;
  padding-top: 30px;
}
.single-pro-details h4 {
  padding: 40px 0 20px 0;
}
.single-pro-details h2 {
  font-size: 26px;
}
.single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
.single-pro-details input:focus {
  outline: none;
}
.single-pro-details button {
  background: #088178;
  color: white;
}
.single-pro-details span {
  line-height: 25px;
}

@media (max-width: 799px) {
  .pro {
    margin: 15px;
  }
  .pro-container {
    justify-content: center;
  }
}
