
html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  color: #222;
}

h2 {
  font-size: 46px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}
*{
  text-decoration: none;
}
.error{
  color: red;
  font-size: 17px;
  font-weight: 500;
}
.success{
  color: #25b09b;
  font-size: 17px;
  font-weight: 500;
}
/* HTML: <div class="loader"></div> */
.loader-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}
.member{
  color: #25b09b;
  text-decoration: none;
  font-weight: 600;
}